<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Casa Inteligente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="estados">
  <ion-grid>
    <ion-row>
      <ion-col><img src="../../assets/images/nubes.png" alt="" width="100px"></ion-col>
      <ion-col>
        <div class="sol">

        </div>
      </ion-col>
      <ion-col><img src="../../assets/images/nubes.png" alt="" width="100px"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col><img src="../../assets/images/techoDos.png" alt="" width=900px></ion-col>
        <ion-row>
          <ion-col><img src="../../assets/images/paredIZD.png" alt=""></ion-col>
          <ion-col><img src="../../assets/images/cuarto.png" alt="" [ngClass]="{'apagadoClase': !estados.cuarto_2}"></ion-col>
          <ion-col><img src="../../assets/images/cocina.png" alt="" [ngClass]="{'apagadoClase': !estados.cocina_2}"></ion-col>
          <ion-col><img src="../../assets/images/baño.png" alt="" [ngClass]="{'apagadoClase': !estados.bano_2}"></ion-col>
          <ion-col><img src="../../assets/images/sala.png" alt=""></ion-col>
          <ion-col><img src="../../assets/images/paredDERD.png" alt=""></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="../../assets/images/paredIZ.png" alt=""></ion-col>
          <ion-col><img src="../../assets/images/cuarto.png" alt="" [ngClass]="{'apagadoClase': !estados.cuarto_1}"></ion-col>
          <ion-col><img src="../../assets/images/cocina.png" alt="" [ngClass]="{'apagadoClase': !estados.cocina_1}"></ion-col>
          <ion-col><img src="../../assets/images/baño.png" alt="" [ngClass]="{'apagadoClase': !estados.bano_1}"></ion-col>
          <ion-col><img src="../../assets/images/garage.png" alt=""></ion-col>
          <ion-col><img src="../../assets/images/paredDER.png" alt=""></ion-col>
        </ion-row>
   
    <ion-col class="pasto">
      <br>
    </ion-col>
 </ion-row>

  </ion-grid>

  
</ion-content>
