.card {
    padding-top: 14px;
}
.video {
    width: 100%;
    object-fit: cover;
}
.video-row {
    padding-bottom: 10px;
}
#canvas {
    width: 100%;
}
.btn-qr-code{
    display: block;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}
img{
    display: block;
    margin: auto;
    height: 300px;
}